.contenedor {
  background-color: rgb(26, 125, 195);
  padding: 10px;
  font-size: 25px;
  text-align: center;
  font-style: oblique;
  font-family: fantasy;
  display: grid;
  grid-gap: 10px;

  grid-template-columns: 3fr 10fr 3fr;
  grid-template-rows: 10fr 200fr 20fr;
  grid-template-areas:
    "header header header"
    "side1 contenido side2"
    "footer footer footer";
}
.contenedor > div {
  background-color: blueviolet;
}
.contenedor .header {
  background-color: rgb(104, 4, 198);
  grid-column: header;
}
.contenedor .side1 {
  background-color: rgb(61, 0, 117);
  grid-column: side1;
  grid-template-columns: 1fr;
  grid-template-rows: 5fr 2fr;
  grid-gap: 10px;
  display: grid;
}
.contenedor .side1 > div {
  background-color: blue;
}
.contenedor .contenido {
  background-color: rgb(159, 66, 247);
  grid-column: contenido;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 5fr;
  grid-gap: 40px;
  display: grid;
}
.contenedor .contenido > div {
  background-color: bisque;
}
.contenedor .side2 {
  background-color: rgb(61, 0, 117);
  grid-column: side2;
}
.contenedor .footer {
  background-color: rgb(138, 14, 255);
  grid-column: footer;
}
